input[type=file][data-v-54e53bb5] {
    position: absolute;
    top: -500px
}

div.file-listing img[data-v-54e53bb5] {
    max-width: 90%
}

.dialog-warning-amount-deposit-exceed .money {
    color: #ffe600
}
