@charset "UTF-8";.radios-image>label {
    margin-bottom: 0;
    margin-right: 16px;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.radios-image label img {
    height: 50px;
    width: 50px;
    transition-duration: .2s;
    transform-origin: 50% 50%;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #ff8d39;
    box-shadow: 0 0 1px #ff8d39
}

.radios-image>:checked+label img {
    transform: scale(1);
    box-shadow: 0 0 5px #ff8d39;
    z-index: -1
}

.radios-image>:checked+label:before {
    content: "\2713";
    background-color: #ff8d39;
    transform: scale(.8);
    z-index: 1
}

.radios-image label:before {
    background-color: #fff;
    color: #fff;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transform: scale(0)
}

.radios-image .card-rate {
    position: absolute;
    left: 8px;
    font-size: 10px;
    bottom: 8px;
    color: red
}
